/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/app/Python/STOUT_Web/models/*
/app/Python/DECIMER_Web_OCSR/DECIMER_Packed_model/*
/app/Python/DECIMER_Image_Segmentation/model_trained/*
/public/*log*
/storage/logs/*
/storage/app/public/*
.DStore
